{% extends "../base.html"%}


{%load static %}


{% block title%} Product {%endblock %}


{%block content%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easyzoom@2.5.3/css/easyzoom.css" />
<script src="https://cdn.jsdelivr.net/npm/easyzoom@2.5.3/src/easyzoom.js"></script>

<link href="{% static 'store/style.css' %}" rel="stylesheet">
<link href="{% static 'store/product.css' %}" rel="stylesheet">
<main class="pt-2">

    <style type='text/css'>
     .product-details{
	overflow:hidden;
}


#similar-product {
  margin-top: 40px;
}


#reviews {
  padding-left: 25px;
  padding-right: 25px;
}

.product-details {
  margin-bottom: 40px;
  overflow: hidden;
  margin-top: 10px;
}



.view-product {
  position: relative;
}

.view-product img {
  border: 1px solid #F7F7F0;
  height: 380px;
  width: 100%;
}

.view-product h3 {
  background: #FE980F;
  bottom: 0;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 8px 20px;
  position: absolute;
  right: 0;
}

#similar-product .carousel-inner .item{
	padding-left:0px;
}

#similar-product .carousel-inner .item img {
  display: inline-block;
  margin-left: 15px;
}

.item-control {
  position: absolute;
  top: 35%;
}
.item-control i {
  background: #FE980F;
  color: #FFFFFF;
  font-size: 20px;
  padding: 5px 10px;
}

.item-control i:hover{
	background:#ccccc6;
}

.product-information {
  border: 1px solid #F7F7F0;
  overflow: hidden;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-top: 60px;
  position: relative;
}

.newarrival{
	position:absolute;
	top:0;
	left:0
}

.product-information h2 {
  color: #363432;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-top: 0;
}

.product-information p {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5px;
}

.product-information span {
  display: inline-block;
  margin-bottom: 8px;
  margin-top: 18px;
}

.product-information span span {
  color: #FE980F;
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-right: 20px;
  margin-top: 0px;
}
.product-information span input {
  border: 1px solid #DEDEDC;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 33px;
  outline: medium none;
  text-align: center;
  width: 50px;
}

.product-information span label {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-right: 5px;
}

.share {
  margin-top: 15px;
}

      </style>


<div class="col-sm-9 padding-right">
  <div class="product-details"><!--product-details-->
      <div class="col-sm-5">
          <div class="view-product">
              <img src="{{ product.img.url }}" alt="" />
              
          </div>
      </div>
      <div class="col-sm-7">
          <div class="product-information"><!--/product-information-->
              
              <h2>{{ product.title }}</h2>
              <p> <del> EG {{product.price}}  </del> </p>
              
              <span>
                  <span>EG {{ product.discountprecent }}</span>
                 
                  <label for="select">Qty</label>
                  <select id="select" class="h6" style="width:50px;height:40px;">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                  </select>
                  <button type="button" id="add-button" value="{{product.id}}" class="btn btn-success fw500">Add to basket</button>
              </span>
              <p><b>Availability:</b> In Stock</p>
              
              <p><b>Description:</b> {{product.describtion}}</p>
             
          </div><!--/product-information-->
      </div>
  </div>
</div>





    
 
      
      
      
      
        <div class="container">
          <div class="pb-3 h5">Related </div>
            <div class=" row row-cols-1 row-cols-md-4 ">
                {% for product in prods %}
            
                <div class="col mb-4 ">
                  <a href="{{product.get_prod_url}}" class="text-decoration-none"></a>
                    <div class="card product_item">
                        <div class="body">
                            <div class="cp_img">
                                <div class="center">
                                    <div class="messages  " >
                                      <small>-{{ product.discountprecent }} %</small>     
                                    </div>
                                </div>
        
                                <img src="{{ product.img.url }}" alt="Product" class="img-fluid">
                                <div class="hover">
                                    <button type="button" data-id="{{product.id}}" id="addone" value="{{product.id}}" class="btn btn-success fw500">
                                        <i class="zmdi zmdi-shopping-cart"></i>
                                    </button>   
                                </div>
                            </div>
                            <div class="product_details">
                                <h5><a class="text-decoration-none" href="{{product.get_prod_url}}">{{product.title|slice:":50" }}</a></h5>
                                <ul class="product_price list-unstyled">
                                    <li class="old_price">EG{{product.price}}</li>
                                    <li class="new_price">EG{{product.afterdiscont}}</li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                  </a>
                </div>
            
                {%endfor%}
                
            </div>
        </div>

</main>

{% block javascript %}



<script>
  $(document).on('click', '#addone', function (e) {
      var id = $(this).data("id")
      e.preventDefault();

      $.ajax({
          type: 'POST',
          url: "{% url 'basket:adding' %}",
          data: {
              productid:id,
              
              csrfmiddlewaretoken: "{{csrf_token}}",
              action: 'post'
          },
          success: function (json) {
             document.getElementById("basket-qty").innerHTML = json.qty

          },
          error: function (xhr, errmsg, err) {}
      });
  })
</script>

<script>
    $(document).on('click', '#add-button', function (e) {
        e.preventDefault();

        $.ajax({
            type: 'POST',
            url: '{% url "basket:basket_add" %}',
            data: {
                productid: $('#add-button').val(),
                productqty: $('#select option:selected').text(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (json) {
               document.getElementById("basket-qty").innerHTML = json.qty

            },
            error: function (xhr, errmsg, err) {}
        });
    })

    $(document).ready(function() {
		var $easyzoom = $('.easyzoom').easyZoom();
});
</script>
{%endblock javascript%}



{%endblock%}